#recipes{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 100%;
    font-size: 20px;
}
#recipes .items3{
    width: 100%;
    margin-right: 8px;
    height: 100%;
}
#recipes .items3 .ul1{
    width: 100%;
    margin-left: 2px;
    margin-bottom: 0px;
}
#recipes .items3 li{
    padding: 17px 2px;
    list-style: none;
    font-family: 'Old Standard TT', serif;
}
#recipes .items3 .ul1 a{
    text-decoration: none;
    color: black;
}
@media(min-width:300px) and (max-width:600px){
    #recipes{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        
    }
    #recipes .items3{
        margin: 0px;
    }
    
}
#button1{
    margin-bottom: 10px;
    height: 40px;
    display: flex;
}
#button1 .button2{
    margin: 0px;
    position: absolute;
    left: 2px;
}
#button1 .button3{
    margin: 0px;
    position: absolute;
    right: 2px;
}
